.rule-modal
	&__btn
		padding: 12px 0
		display: inline-block;

	&__no-rule
		text-align: center;
		font-size: 20px;
		padding: 12px 0;
		color: colorBorder
		display: none

	.modal-body
		min-height: 320px

	.modal-footer
		text-align: center
