mixin rule-modal()
	+b.rule-modal.modal.fade(tabindex="-1", role="dialog" , aria-hidden="true")
		+b.modal-dialog.modal-lg(role="document")
			+b.modal-content
				//+b.modal-header
					+b('button').close(data-dismiss="modal", aria-label="Close",type="button")
						+b('span')(aria-hidden="true") &times;
				+b.modal-body
					+b.rule-modal__body
						+b.rule-modal__list
					+b.rule-modal__no-rule Нет правил
					+b.rule-modal__btn
						+b('button').btn.btn-primary(type="button") Добавить правило
					+b.action-desc
						+e.inner
							+e.list
						+e.bottom
							+e.add.btn.btn-primary(type="button") Добавить
							+e.cancel.btn.btn-primary(type="button") Отмена
				+b.modal-footer
					+b('button').rule-modal__save.btn.btn-primary(data-dismiss="modal",type="button") Сохранить
