mixin rule-modal()
	+b('button').btn.btn-primary.btn-lg(type="button",data-toggle="modal", data-target=".bd-example-modal-lg") rule
	//modal
	+b.rule-modal.modal.fade.bd-example-modal-lg(tabindex="-1", role="dialog" ,aria-labelledby="myModalLabel", aria-hidden="true")
		+b.modal-dialog.modal-lg(role="document")
			+b.modal-content
				//+b.modal-header
					+b('button').close(data-dismiss="modal", aria-label="Close",type="button")
						+b('span')(aria-hidden="true") &times;
				+b.modal-body
					+b.rule-modal__body
						+b.rule-modal__list
					+b.rule-modal__btn
						+b('button').btn.btn-primary(type="button") Добавить правило
					+b.action-desc(data-ipr_setting_id="-ipr_setting_id-")
						+e.arrow
						+e.inner
							+e.box
								+e('h3').header Описание специального развивающего действия
								+e('textarea').text
								+e.notice Осталось
									+e('span') 150
									| символов
							+e.list
						+e.bottom
							+e.add.btn.btn-primary(type="button") Добавить
							+e.cancel.btn.btn-primary(type="button") Отмена
				+b.modal-footer
					+b('button').btn.btn-secondary(data-dismiss="modal",type="button") Close
					+b('button').btn.btn-primary(data-dismiss="modal",type="button") Save changes