include ../rule-modal/rule-modal
include ../rule-table/rule-table
include ../tpl/tpl-rule/tpl-rule
include ../tpl/tpl-action-desc__list/tpl-action-desc__list
include ../tpl/tpl-course/tpl-course
include ../tpl/tpl-course-item/tpl-course-item
mixin index()
	+rule-modal()
	+rule-table()
	+tpl-rule()
	+tpl-action-desc__list()
	+tpl-course()
	+tpl-course-item()
