.action-rule
	border: 1px solid colorBorder
	color: colorText
	border-top: 0;

	&:first-child{
		border-top: 1px solid colorBorder
	}

	&__top
		background: #f4f8fd

	&__item
		float: left;
		padding:5px;

	&__label
		float: left;
		padding: 3px 12px 0;
		line-height: 26px;
		font-size:16px;

	&__input
		margin-bottom: 0;
		height: 30px;
		width: 50px;
		margin-top: 2px;
		text-align: center;
		border: 1px solid colorAdd ;
		border-radius: borderRadius;

	&__close
		float: right;
		padding: 12px 20px;
		cursor: pointer;
		font-size: 16px
		font-family:RobotoMedium
		color: #ced8e1;

	&__trigger
		width: 30px
		height: 30px
		float: left
		cursor: pointer

		&:before
			content: ''
			width: 12px;
			margin: auto;
			display: inline-block;
			height: 12px;
			margin-top: 10px;
			border-right: 1px solid #0d316d;
			border-bottom: 1px solid #0d316d;
			transform: rotate(-45deg);
			margin-left: 12px;

		&.active
			&:before
				transform: rotate(45deg);

	&__collapse
		float: left
		width: 100%
		box-shadow: inset 0 3px 10px -5px rgba(0,0,0, 0.5)

.add-action
	padding: 12px 8px 0

	&__input
		cursor: pointer
		padding: 5px 10px;
		font-size: 14px;
		margin-bottom: 12px;
		border: 1px solid #ced8e1;
		border-radius:4px;
		color: colorMain
		width: 100%
		z-index: 2;
		background: transparent;

		&:after
			content: ''
			display: block
			position: absolute;
			background: #fff
			top: 8px;
			right: 11px;
			width: 10px;
			height: 10px;
			border-right: 1px solid colorMain
			border-bottom: 1px solid colorMain
			transform: rotate(45deg);

		&.active
			&:after
				top: 14px;
				transform: rotate(225deg);

	&__option
		cursor: pointer
		padding: 6px 10px;
		border-bottom: 1px solid #ddd;
		background: #f4f8fd;
		transition: all 0.4s
		color: colorMain

		&:last-child
			border-bottom:none

		&:hover
			background: #fff;

	&__list
		display: none
		transition all 0.4s
		border: 1px solid #ced8e1;
		margin-top: -13px;
		border-radius: 4px;
		position: absolute
		width:100%
		z-index: 2;

	&__no-action
		text-align: center;
		line-height: 31px;
		color: colorBorder;
		font-size: 20px;
		padding-bottom: 8px;
		float: left
		width:100%

	&__select-inner
		float: left;
		width: 100%;
		position: relative

.action-list
	display: none

.select-action
	position: relative
