.rule-table
	max-width: 900px;
	margin: auto;

	.table-cell
		padding: 8px 18px;
		vertical-align: middle
		border:1px solid colorBorder

	&__head
		background:colorBorder

		&-item
			text-align: center;
			padding:8px

	&__cell
		text-align: center;
		padding: 8px

	&__edit
		cursor: pointer