mixin tpl-action-desc__list()
	+b('template')#tpl-action-desc__list.action-desc__
		+e.item(data-ipr_setting_id ="-ipr_setting_id-" data-category_id = "-category_id-")
			+b('input')(id="-id-" type="checkbox"  data-program_id ="-program_id-" checked='-checked-')
			+b('label')(for="-id-") -program_name-